In [1]:
import pandas as pd

In [2]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

# Series 1D

In [20]:
a=pd.Series([1,2,34,45])
b=pd.Series([1,2],[3,4])
print(a)
print(b) #---> here index=[3,4]

0     1
1     2
2    34
3    45
dtype: int64
3    1
4    2
dtype: int64

# Series to List conversion

In [26]:
a=pd.Series([1,2,3,5,6])
a
dir(a)
a.to_list()

[1, 2, 3, 5, 6]

# DataFrame 2D

In [19]:
df=pd.DataFrame([1,2,3,5,6],index=['a','b','c','d','e'],columns=['f1'])
df

   f1
a   1
b   2
c   3
d   5
e   6

In [40]:
# [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
x=pd.Series([2, 4, 6, 8, 10])
y=pd.Series([1, 3, 5, 7, 9])
print(x)
print(y)
dir(x)
sumation=x.add(y)
print(sumation)
divide=x.divide(y)
print(divide)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [46]:
# compare the two elements 
#[2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
c=pd.Series([2, 4, 6, 8, 10])
d=pd.Series([1, 3, 5, 7, 10])
print(c[c==d])
print(c[c>d])

4    10
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64
Series([], dtype: int64)

In [48]:
#  convert a dictionary to a Pandas series
# {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
g=pd.Series([100,200,300,400,800],index=['a','b','c','d','e'])
g

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [12]:
# First dataframe column to series 
import pandas as pd 
DATA= {'col1':[1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df2=pd.DataFrame(DATA)
print(df2)
#dir(df2)
c=df2.to_xarray()
c
d=df2.iloc[0:6,0]
d

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [ ]:
# Flatten Series of Lists
#Sample Output: 
#Original Series of list
#0    [Red, Green, White]
#1           [Red, Black]
#2               [Yellow]

#output:
#One Series
#0       Red
#1     Green
#2     White
#3       Red
#4     Black
#5    Yellow